<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniProjet"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBYABbw_bIAWKpn2PpEVzd7awaCcVdMaJ0" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".MapsActivity"
            android:exported="true" >
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyBYABbw_bIAWKpn2PpEVzd7awaCcVdMaJ0" />



        </activity>
        <activity android:name=".GetMapsActivity"
            android:exported="false"/>
        <activity
            android:name=".JobDetailsUser"
            android:exported="false" />
        <activity
            android:name=".listJobsUser"
            android:exported="false" />
        <activity
            android:name=".test"
            android:exported="false" />
        <activity
            android:name=".UpdateEmail"
            android:exported="false" />
        <activity
            android:name=".ProfileCompagny"
            android:exported="false" />
        <activity
            android:name=".ProfileUser"
            android:exported="false" />
        <activity
            android:name=".listJobs_compagny"
            android:exported="false" />
        <activity
            android:name=".UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".JobDetails"
            android:exported="false" />
        <activity
            android:name=".InsertJobPostActivity"
            android:exported="false" >


        </activity>
        <activity
            android:name=".AddDetailsUser"
            android:exported="false" />
        <activity
            android:name=".firestPageCompagny"
            android:exported="false" />
        <activity
            android:name=".firstPageUser"
            android:exported="false" />

        <activity
            android:name=".loginCompagny"
            android:exported="false" />
        <activity
            android:name=".login_user"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signup_user"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>

    </application>

</manifest>